:root {

  --color-primary: #0d6efd;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #ced4da;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-light-5: rgba(0,0,0,.125);

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #212529;;
  --color-grey-dark-3: #21252B;

  --shadow-dark:  0 2rem, 6 rem rgba(0, 0, 0, 0.3);
  --line: 1px solid var(--color-grey-light-1);
  --grey-border: 1px solid rgba(0,0,0,.125);
  






}

* {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 1rem; 
}

body {
  /* background-color: #eb2f64; */
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  /* line-height: 1.6; */

  background-color: #fff;

}

.cont {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

  .center-t {
    text-align: center !important;
  }
  
/* BOTOES COR */

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-icone {
  border: none;
  background-color: transparent;

}

/* CORES E SOMBRES */

.sombra-cinza {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
  .btn-1 {
    color:#fff;
    border-color: #fff;
    
    
}
.btn-2 {
  color:#21252B;
  border-color: #21252B;

  
}
.btn-3 {
  color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;

}

/* BACKGROUNDS */

.bg-black {
  background-color: var(--color-grey-dark-3);
}
.bg-blue {
  background-color: var(--color-primary);
}

/* BORDAS */

.bd--grey {
  border: var(--grey-border);
}

/* ALERTAS */

.alertas {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  width: 100%;
}

.alerta-vermelho {
  color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.alerta-normal {
  color: #084298;
  background-color: #cfe2ff;
  border-color: #b6d4fe;
}
/* IMAGENS */

/* ICONES */

.icone--padrao {
  width: 2rem;
  height: 2rem;
  fill: var(--color-grey-dark-1);
}

/* LINKS */
a {
  color: #0d6efd;
  text-decoration: none;
}
.br-25{
  border-radius: .25rem;
}

.bd-1 {
  border: 1px solid var(--color-grey-light-5);
}

.mgb-20 {
  margin-bottom: 20px;
}
.mgt-20 {
  margin-top: 20px;
}
.mgb-10 {
  margin-bottom: 10px;
}
.mgt-10 {
  margin-top: 10px;
}
.mgd-10 {
  margin-right: 10px;
}
.mgd-20 {
  margin-right: 10px;
}
.mge-10 {
  margin-left: 10px;
}
.mge-20 {
  margin-left: 10px;
}





  @media (min-width: 576px) {
    
    .responsive-item{
      width: 100%;
    }
    
    .cont {
      max-width: 540px;

    }
    .galeria {
      flex-direction: row;
      
    }
  }
  
  @media (min-width: 768px) {
    
    .responsive-item {
      width: 45%;
    }
    .cont {
      max-width: 720px;
    }
    .galeria {
      
      justify-content: space-between;
      

    }
    
  }

  @media (min-width: 1200px) {


    .esconde-grande {
      display: none;
    }
    .responsive-item {
      width: 30%;
    }
    .cont {
      max-width: 1000px;
    }
    .cont--side {
      max-width: 1000px;
    }
  }

