


/* Headers */

.cabecalho--top {
    border-bottom: var(--grey-border);
}
.cabecalho__logo {
    /* margin-left: 2rem; */
}
.cabecalho__img {
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    /* margin-right: 1rem; */
}
.cabecalho__botao {
    margin-right: .75rem;
}


.cabecalho__icone {
    fill: #fff;
}

.cabecalho__nav{
        
    display: flex;
    align-items: center;
    align-self: stretch;
}
.cabecalho__link-aplicacao{
    padding: .5rem 3rem;


}
.cabecalho__nome-aplicacao {
    color: var(--color-grey-dark-2);
    font-weight: 700;
    font-size: 1.5rem;

}

.cabecalho-direito__cidadao {
    display: none;
}
.cabecalho__nome-usuario, .cabecalho__nome-aplicacao{
        padding: 0 1rem;
        cursor: pointer;
        height: 100%;

        
        
    }
    .cabecalho__nome-usuario {
        color: #6c757d;
        font-weight: 300;
        
    }

.pesquisa-form {

    display: flex;
    flex-grow: 8;
    align-items: center;

}


.pesquisa-form__input {
    
    width: 100%;
}

.input--text {
    display: block;
    height: 2.5rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-grey-dark-2);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid var(--color-grey-light-2);
    border-radius: .25rem;
    margin-right: 13px;
    margin-right: -2rem;
}

.tabela--imagem {
    width: 120px;
    height: auto;
    border-radius: 50%;
    /* margin-right: 1rem; */
}
.pesquisa-form__icone {
    width: 1.25rem;
    height: 1.25rem;
    fill: var(--cor-secundaria);
    
}

.pesquisa-form__botao--normal {
    display: block;
    margin-left: 2rem;
    height: 2.5rem;
}
.cabecalho-direito__links-direito {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cabecalho-direito__icone {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--cor-secundaria);
}
.cabecalho-direito__links-2 {
    display: flex;
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    /* transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
}

/* BARRA LATERAL */


.navegacao-lateral {
    
}
.navegacao-lateral__item {
    text-decoration: none;
    list-style: none;
}
.navegacao-lateral__link {
    
}
.navegacao-lateral__link:link, 
.navegacao-lateral__link:visited {
    color: var(--color-grey-dark-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
}
.navegacao-lateral__botao {
    color: #fff !important;
    margin: 1rem 2rem;
    justify-content: center;
    
}
.navegacao-lateral__icone {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;
}


/* Listas */

ul li {
    list-style: none;
    text-decoration: none;
}

/* Home */

.img-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.img-principal img {
    width: 100px
}

.modal {
    display: none;
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

/* Cartões */

.galeria {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-wrap: wrap;
    
    
}

.galeria__item {
    background-color: #fff;
    max-width: 49%;
}

.cartoes__cartao {

    border: 1px solid rgba(0,0,0,.125);
    margin-bottom: 20px;
    
    
    
    
}

.cartoes__img{
    width: 300px;
    height: 300px;

}

.cartoes__img-ver{
    width: auto;
    height: 300px;

}
.cartoes__texto {
    padding: 10px;
    border-top: 1px solid #6c757d;
}


img {
    max-width: 100%;
}


/* Selecionadores */

.selectors {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.selectors a {
    padding: 3px;
}

/* INFORMAÇÕES - CAIXAS */

.content-div {

    border: 1px solid rgba(0,0,0,.125);

}

.content-div > div {
    padding: .75rem;
}

.content-div__cima {
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.content-div__titulo {
    border: none;
    margin: 0;
}

.caixa-info {

    border: 1px solid rgba(0,0,0,.125);

}

.caixa-info > div {
}

.caixa-info__titulo {

    padding: 1rem 1rem .5rem;

}

.caixa-info__item {
    padding: 1.25rem 0;
    margin: 0 1.25rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.125);

}
.caixa-info__item:last-child {
    border: none;
}
.caixa-info__cabecalho {
    flex: 2;
}

.caixa-info__descricao {
    flex: 5;
}

.caixa-info__input {
    width: 50%;
}
.caixa-info__titulo {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--color-grey-dark-1);
    
}
.caixa-info__cabecalho {
    text-transform: uppercase;
    
    color: var(--color-grey-dark-1);
    font-size: .75rem;
}

.caixa-info__descricao {
    font-size: 1.1rem;

}

.caixa-info__botao {
    margin: 1.25rem;
}

.caixa-info__header {
    font-size: 1rem;
    font-weight: 100;   
}

.caixa-info__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.caixa-info__img--grande {
    width: 90%;
}
.caixa-info__grupo-img {
    display: flex;
}
/* LOGIN E CADASTRO */
.login-box {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    
  }

  .login-box__body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    justify-items: center;
  }

  .formulario {
      display: flex;
      flex-direction: column;
      width: 30%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      
  }

  .formulario__input {
      width: 100%;
      margin-bottom: 10px;
  }

  .formulario__label {
    margin-bottom: 10px;
    font-size: inherit;
    line-height: 1.5;
    text-align: left;
  }

  .formulario__link {
      align-self: flex-start;
  }
  .formulario__img {
    vertical-align: middle;
    border-style: none;
    width: 72px;
    height: 72px;
  }

  .formulario__img--grande {

    width: 100px;
    height: 100px;
    border-radius: 50%;
    
  }

  .formulario__titulo {
    margin-bottom: .5rem;
    font-weight: 300;
    font-size: 2rem;
  }

/* PAGINA PRINCIPAL */

/* VISAO GERAL */
.visao-geral__div {
    flex-basis: 31%;
    border: 1px solid rgba(0,0,0,.125);
    padding: 10px;
    color: #6c757d;

    /* color: #fff; */

}

.visao-geral__titulo {
    margin-bottom: .5rem;
    font-weight: 300;
    font-size: 2rem;
    border-bottom: 2px solid rgba(0,0,0,.125);
  }

.visao-geral {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.btn-groupo__botao {
    margin-right: 10px;
}

/* PAGINAÇÃO */

.paginacao {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 300;
    border-bottom: var(--grey-border);
    align-items: center;
}

.paginacao__paragrafo {

}

.paginacao__digitos {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.paginacao__resultados {

}
.paginacao__controles {
    display: flex;
    align-items: center;
}

.paginacao__icone {
    width: 1.3rem;
    height: 1rem;
    fill: var(--cor-secundaria);
    align-self: center  ;
}
/* OPCOES */

.opcoes-documentos {
    display: flex;
    font-size: 1.2rem;
    margin-top: 5px;
    width: 100%;
    border-bottom: var(--grey-border);

}
.opcoes-documentos__div {
    flex-basis: 20%;
    text-align: center;
    padding: 10px;
    font-weight: 500;
}
.opcoes-documentos__link {
    color: var(--cor-secundaria);
}
.opcoes-documento__link--desactivado {
    color: var(--cor-secundaria);
}
.opcoes-documento__div--activada {
    border-bottom: 2px solid var(--cor-primaria);
}

.opcoes-documento__div--activada a {
    color: var(--cor-primaria) !important;
}
/* TABELAS */

.tabela {
    --bs-tabela-bg: transparent;
    --bs-tabela-striped-color: #212529;
    --bs-tabela-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-tabela-active-color: #212529;
    --bs-tabela-active-bg: rgba(0, 0, 0, 0.1);
    --bs-tabela-hover-color: #212529;
    --bs-tabela-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
    text-align: left;
}

.tabela {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
  }
  
  .tabela th,
  .tabela td {
    padding: 0.75rem;
    vertical-align: top;
    /* border-top: 1px solid #dee2e6; */
  }
  
  .tabela thead th {
    vertical-align: bottom;
    /* border-bottom: 2px solid #dee2e6; */
  }
  
  .tabela tbody + tbody {
    border-top: 2px solid #dee2e6;
  }
  
  .tabela .tabela {
    background-color: #fff;
  }
  
 
  
  .tabela-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .tabela-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
  }
  .barra-inferior__navegacao {
      display: none;
  }
  
  
@media (max-width: 800px) {
    .pesquisa-form__input {
        width: 90%;
    }
    .caixa-info__input {
        width: 100%;
    }
    .caixa-info__descricao  {
        width: 100%;
    }
    .barra-inferior__navegacao {
        display: flex;
        margin: 20px 0px;
        width: 90%;

        
    }

    .navegacao-inferior {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;
    }

    .navegacao-inferior__icone {
        width: 1.75rem;
        height: 1.75rem;
        fill: currentColor;
    }

    .navegacao-inferior__link:link, .navegacao-inferior__link:visited {
        color: var(--color-grey-dark-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 0;
        display: flex;
        align-items: center;
    }
    
    .caixa-info__item {

        flex-direction: column;
        align-items: flex-start;
    
    }

    .cabecalho-direito {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .cabecalho-direito__cidadao {
        display: none;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .cabecalho--top {

        width: 100%;
    }
    .principal {
        margin-left: 0;
        margin-top: 200px;
    }
    .cabecalho-direito > * {
        width: 100%;
        
    }

    .pesquisa-form__input {
        width: 90%;
    }
    .cabecalho-direito__links-direito {
        padding-bottom: 10px;
    }

    .formulario {
        width: 100%;
    }
    .cabecalho-direito__cidadao {
        display: none;
    }
    
    
}
