.cabecalho {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.barra-lateral__navegacao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}

.conteudo {
    display: flex;
}
.principal {
    margin-left: 321px;
    margin-top: 70px;
}
.cabecalho--top { /* hack ISSO DEVE SER DEVIDAMENTE ESTILIZADO*/
    position: fixed;
    width: 78%;
    top: 0;
    right: 0;
    background-color: #fff;
    
}
.barra-lateral {
    background-color: var(--color-grey-light-3);
    height: 100vh;
    position: fixed; /* hack ISSO DEVE SER DEVIDAMENTE ESTILIZADO*/
    flex-direction: column;
    z-index: 11;
}
.barra-lateral, .cabecalho__link-aplicacao  {
    flex: 0 0 22%;
    /* display: flex; */

}
.cabecalho-direito {
    display: flex;
    flex: 1;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
}

.main {
    flex: 1;
}

.mais {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.mais > div {
    flex-basis: 49%;
}

@media (max-width: 768px) {
      
    .barra-lateral {
        display: none;
      }

    .mais {
        flex-direction: column;
    }

    .mais > div {
        width: 100%;
        margin-bottom: 30px ;
    }

}