.cabecalho {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}



.conteudo {
    display: flex;
}

.barra-lateral {
    background-color: var(--color-grey-light-3);
    height: 100vh;
    
    flex-direction: column;
}
.barra-lateral, .cabecalho__link-aplicacao  {
    flex: 0 0 22%;
    /* display: flex; */

}
.cabecalho-direito {
    display: flex;
    flex: 1;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main {
    flex: 1;
}

@media (max-width: 576px) {
      
    .barra-lateral {
        display: none;
      }
}